table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

th {
  background-color: rgb(74, 146, 255);
  color: white;
  text-align: center;
  padding: 10px;
}

td {
  padding: 8px 12px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.border-b {
  border-bottom: 1px solid #ccc;
}
