/* Header styling */
.header {
  background-color: #0077cc; /* blue */
  padding: 10px;
  display: flex;
  gap: 20px;

}

.header a {
  font-family: sans-serif;
  margin: 0 auto;
  color: white;
  text-decoration: none;
  font-weight: 700;

}
.header a.active {
  border-bottom: 2px solid #ffcc00; /* highlight active route */
}

.header a:hover {
  color: #ffcc00;
}
